#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.favoritasTotal {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fondasCercanasTotal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.losMejoresMenusTotal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.mejoresMenu {
  width: 39%;

}