.favoritas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconeFavoritas {
    border-radius: 50%;
}

.DesdeFavoritas {
    color: grey;
    height: 16px;
}

.FavoritasName {
    font-weight: 600;
}