ul {
  text-align: left;
  list-style: none;
}
    
.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1,
h2,
h3  {
    text-align: left;
}

header {
    background-color: greenyellow;
}

.main-menu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}    