.MejoresMenus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.iconeFavoritas {
    border-radius: 50%;
}

.desdeMejores {
    color: grey;
}

.nameMejores {
    font-weight: 700;
    height: 32px;
}
